*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

:root {
  --color-primary: #eb2f64;
  --color-primary-light:  #FF3366;
  --color-primary-dark: #BA265D;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --box-shadow-dark: 0 3rem 6rem rgba(0,0,0 ,.3)
; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

.header {
  font-size: 1.4rem;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between; }
  .header .logo {
    margin-left: 2rem;
    height: 3.25rem; }
  .header .search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 40%; }
    .header .search__input {
      font-family: inherit;
      font-size: inherit;
      width: 90%;
      background-color: var(--color-grey-light-2);
      border: none;
      padding: .7rem 2rem;
      border-radius: 100px;
      margin-right: -3.5rem;
      transition: all .3s; }
      .header .search__input:focus {
        width: 100%;
        outline: none;
        background-color: var(--color-grey-light-3); }
      .header .search__input::-webkit-input-placeholder {
        color: var(--color-grey-light-4);
        font-weight: 100; }
    .header .search__input:focus + .header .search__button {
      background-color: var(--color-grey-light-3); }
    .header .search__button {
      border: none;
      background-color: var(--color-grey-light-2); }
      .header .search__button:focus {
        outline: none; }
      .header .search__button:active {
        transform: translateY(3px); }
    .header .search__icon {
      width: 2rem;
      height: 2rem;
      fill: var(--color-grey-dark-3); }
  .header .user-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch; }
    .header .user-nav > * {
      padding: 0 2rem;
      cursor: pointer;
      height: 100%;
      transition: all .2s;
      display: flex;
      justify-content: center;
      align-items: center; }
    .header .user-nav > *:hover {
      background-color: var(--color-grey-light-2); }
    .header .user-nav__icon-box {
      position: relative; }
    .header .user-nav__icon {
      width: 2.5rem;
      height: 2.5rem;
      fill: var(--color-grey-dark-3); }
    .header .user-nav__text {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: .8rem;
      height: 1.75rem;
      width: 1.75rem;
      border-radius: 50%;
      background-color: var(--color-primary);
      color: var(--color-grey-light-1);
      position: absolute;
      right: 1.1rem;
      top: 1.5rem; }
    .header .user-nav__user-photo {
      height: 3.75rem;
      border-radius: 50%;
      margin-right: 1rem; }

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .sidebar-nav {
    margin-top: 3.5rem;
    list-style: none; }
    .sidebar-nav__item {
      position: relative;
      z-index: 1; }
      .sidebar-nav__item:not(:last-child) {
        margin-bottom: .5rem; }
      .sidebar-nav__item::before, .sidebar-nav__item--active::before {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        width: 3px;
        height: 100%;
        background-color: var(--color-primary);
        z-index: -1;
        transform: scaleY(0);
        transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
    .sidebar-nav__item:hover::before, .sidebar-nav__item--active::before {
      transform: scaleY(1);
      width: 100%; }
    .sidebar-nav__item:active::before {
      background-color: var(--color-primary-light); }
    .sidebar-nav__link:link, .sidebar-nav__link:visited {
      display: block;
      text-decoration: none;
      color: #fff;
      text-transform: uppercase;
      font-size: 1.4rem;
      padding: 1.5rem 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      justify-content: flex-start; }
    .sidebar-nav__icon {
      width: 1.75rem;
      height: 1.75rem;
      fill: #fff;
      margin-right: 2rem; }
  .sidebar .copyright-area {
    font-size: 1.2rem;
    color: var(--color-grey-light-4);
    text-align: center;
    padding: 2.5rem; }

.gallery {
  display: flex; }
  .gallery__img {
    width: 100%;
    display: block; }

.overview {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-grey-light-2); }
  .overview__heading {
    font-size: 2.25rem;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 1.5rem 3rem; }
  .overview__stars {
    display: flex;
    margin-right: auto; }
  .overview__star, .overview__location--icon {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary); }
  .overview__location {
    font-size: 1.2rem;
    display: flex;
    vertical-align: middle; }
  .overview__location--icon {
    margin-right: .5rem; }
  .overview__rating {
    color: #fff;
    margin-left: 3rem;
    background-color: var(--color-primary);
    padding: 0 2.25rem;
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .overview__rating-avarage {
    font-size: 2.25rem;
    font-weight: 300;
    margin-bottom: -3px; }
  .overview__rating-count {
    font-size: .8rem;
    text-transform: uppercase; }

.button-inline {
  display: inline-block;
  background-color: transparent;
  border: none;
  font-size: inherit;
  color: var(--color-primary);
  border-bottom: 1px solid currentColor;
  cursor: pointer;
  transition: all .2s; }
  .button-inline:hover {
    color: var(--color-grey-dark-1); }
  .button-inline:focus {
    animation: infiniteHover 1s infinite;
    outline: none; }

@keyframes infiniteHover {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.25); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

.container {
  background-color: var(--color-grey-light-1);
  max-width: 120rem;
  margin: 8rem auto;
  box-shadow: var(--box-shadow-dark);
  min-height: 50rem; }

.header {
  height: 7rem;
  background-color: #fff;
  border-bottom: 1px solid var(--color-grey-light-2); }

.content {
  display: flex; }

.hotel-view {
  flex: 1;
  min-height: 50rem; }
