

// Header
.header {
    font-size: 1.4rem;
    height: 7rem;
    @include verticalCenter;
    // override justify-content
    justify-content: space-between;

    .logo {
        margin-left: 2rem;
        height: 3.25rem;
    }

    .search {
        @include verticalCenter;
        flex: 0 0 40%;

        &__input {
            font-family: inherit;
            font-size: inherit;
            width: 90%;
            background-color: var(--color-grey-light-2);
            border: none;
            padding: .7rem 2rem;
            border-radius: 100px;
            margin-right: -3.5rem;
            transition: all .3s;
 
            &:focus {
                width: 100%;
                outline: none;
                background-color: var(--color-grey-light-3);
            }

            &::-webkit-input-placeholder {
                color: var(--color-grey-light-4);
                font-weight: 100;
            }
        }

        &__input:focus + &__button {
            background-color: var(--color-grey-light-3);
        }

        &__button{
            border: none;
            background-color: var(--color-grey-light-2);

            &:focus {
                outline: none;
            }

            &:active {
                transform: translateY(3px);
            }
        }

        &__icon {
            width: 2rem;
            height: 2rem;
            fill: var(--color-grey-dark-3);
        }
    }

    .user-nav {
        @include verticalCenter;
        align-self: stretch;


        & > * {
            padding: 0 2rem;
            cursor: pointer;
            height: 100%;
            transition: all .2s;
            @include verticalCenter;
        }
        & > *:hover {
            background-color: var(--color-grey-light-2);
        } 

        &__icon-box {
            position: relative;
        }

        &__icon {
            width: 2.5rem;
            height: 2.5rem;
            fill: var(--color-grey-dark-3);
        }
        &__text {
            @include verticalCenter;
            font-size: .8rem;
            height: 1.75rem;
            width: 1.75rem;
            border-radius: 50%;
            background-color: var(--color-primary);
            color: var(--color-grey-light-1);
            position: absolute;
            right: 1.1rem;
            top: 1.5rem;
        }
        &__user-photo {
            height: 3.75rem;
            border-radius: 50%;
            margin-right: 1rem;
        }
    }

}


// Sidebar Navigation
.sidebar {
    background-color: var(--color-grey-dark-1);
    flex: 0 0 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    // navigation
    &-nav {
        margin-top: 3.5rem;
        list-style: none;
        
        &__item {
            position: relative;
            z-index: 1;
    
            &:not(:last-child) {
                margin-bottom: .5rem;
            }
    
            &::before,
            &--active::before {
                position: absolute;
                content: '';
                left:0;
                top: 0;
                width: 3px;
                height: 100%;
                background-color: var(--color-primary);
                z-index: -1;
                transform: scaleY(0);
                transition: transform .2s,
                            width .4s cubic-bezier(1, 0, 0, 1) .2s ,
                            background-color .1s;
            }
        }
        // Smooth Hover Effect
        &__item:hover::before, 
        &__item--active::before {
            transform: scaleY(1);
            width: 100%;
        }
    
        &__item:active::before {
            background-color: var(--color-primary-light);
        }
        &__link:link,
        &__link:visited {
            display: block;
            text-decoration: none;
            color: #fff;
            text-transform: uppercase;
            font-size: 1.4rem;
            padding: 1.5rem 3rem;
            @include verticalCenter;
            //override justify-content
            justify-content: flex-start;
        }
        &__icon {
            width: 1.75rem;
            height: 1.75rem;
            fill: #fff;
            margin-right: 2rem;
        }
        
    }
    // footer content
    .copyright-area {
        font-size: 1.2rem;
        color: var(--color-grey-light-4);
        text-align: center;
        padding: 2.5rem;
    }
}