

.container {
    background-color: var(--color-grey-light-1);
    max-width: 120rem;
    margin: 8rem auto;
    box-shadow: var(--box-shadow-dark);

    min-height: 50rem;
}


.header {
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--color-grey-light-2);
}


.content {
    display: flex;
}

.sidebar {
    background-color: var(--color-grey-dark-1);

    flex: 0 0 18%;

    // flex: flex-grow flex-shrink flex-basic;
}

.hotel-view {
    background-color: var(--color-primary);
    flex: 1;
}